@model Kitap


<form method="post" enctype="multipart/form-data">
	<input asp-for="ResimURL" hidden />

	<div class="row">

		<div class="col-10">


			<div class="border">


				<div class=" row pb-2">

					<h2 class="text-primary">@(Model == null ? "null" : "Kitap Detay")</h2>
					<hr />

				</div>

				<div class="form-group">
					<label asp-for="KitapAdi" disabled class="col-form-label mt-4" for="inputDefault">Kitap Adı: </label>
					<input asp-for="KitapAdi" disabled class="form-control" placeholder="Kitap Adı" id="inputDefault">
					<span asp-validation-for="KitapAdi" disabled class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="KitapTuruId" disabled class="p-0">Kitap Türü</label>
					<select asp-for="KitapTuruId" disabled asp-items="ViewBag.KitapTuruList" class="form-select">
					</select>
				</div>

				<div class="form-group">
					<label asp-for="Yazar" disabled class="p-0"></label>
					<input asp-for="Yazar" disabled class="form-control" />
					<span asp-validation-for="Yazar" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Tanim" disabled class="p-0"></label>
					<input asp-for="Tanim" disabled class="form-control" />
					<span asp-validation-for="Tanim" disabled class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Fiyat" disabled class="p-0"></label>
					<input asp-for="Fiyat" disabled class="form-control" />
					<span asp-validation-for="Fiyat" disabled class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="ResimURL" disabled class="p-0"></label>
					<input type="file" disabled name="file" class="form-control" />
				</div>
				<br />
				

				<a asp-controller="Kitap" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
					Kitap Listesine Geri Dön
				</a>

			</div>


		</div>

		<div class="col-2">
			@if (Model != null)
			{
				<img src="@Model.ResimURL" width="100%" style="border-radius:7px; border:1px solid">
			}
		</div>

	</div>







</form>
