@model Kitap 


<form method="post" enctype="multipart/form-data">
	<input asp-for="ResimURL" hidden />

	<div class="row">

		<div class="col-10">


			<div class="border">


				<div class=" row pb-2">

					<h2 class="text-primary">@(Model == null ? "KitapEkle" : "Kitap Güncelle")</h2>
					<hr />

				</div>

				<div class="form-group">
					<label asp-for="KitapAdi" class="col-form-label mt-4" for="inputDefault">Kitap Adı: </label>
					<input asp-for="KitapAdi" class="form-control" placeholder="Kitap Adı" id="inputDefault">
					<span asp-validation-for="KitapAdi" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="KitapTuruId" class="p-0">Kitap Türü</label>
					<select asp-for="KitapTuruId" asp-items="ViewBag.KitapTuruList" class="form-select">
					</select>
				</div>

				<div class="form-group">
					<label asp-for="Yazar" class="p-0"></label>
					<input asp-for="Yazar" class="form-control" />
					<span asp-validation-for="Yazar" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Tanim" class="p-0"></label>
					<input asp-for="Tanim" class="form-control" />
					<span asp-validation-for="Tanim" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Fiyat" class="p-0"></label>
					<input asp-for="Fiyat" class="form-control" />
					<span asp-validation-for="Fiyat" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="ResimURL" class="p-0"></label>
					<input type="file" name="file" class="form-control" />
				</div>
				<br />

				@if (Model != null)
				{
					@* model null değil ise -> güncelleme  *@
					<button type="submit" class="btn btn-lg btn-primary" style="width:100px">Güncelle</button>

				}
				else
				{
					@* model null ise -> ekleme  *@
					<button type="submit" class="btn btn-lg btn-primary" style="width:100px">Kitap  Ekle</button>

				}

				<a asp-controller="Kitap" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
					Kitaplara Geri Dön
				</a>

			</div>


		</div>

		<div class="col-2">
			@if (Model != null)
			{
				<img src="@Model.ResimURL" width="100%" style="border-radius:7px; border:1px solid">
			}
		</div>

	</div>







</form>
