@{
    ViewData["Title"] = "İletişim Sayfası:";
}
<h1 style="color: purple" >@ViewData["Title"]</h1>




<div class="text-center">


    <p>İletişim Sayfası:</p>
    <br />
    <h3>Adres :adresv aadres aders adres mah soakak asokak sokak aksu sokak</h3>
    <h3>Osmaniye/merkez</h3>
    <h3>E-posta:</h3>
    <h3><a href="mailto:m.ustafa190529@gmail.com">E-posta Gönder.</a></h3>
    <h3>Osmaniye Ne?</h3>
   
</div>


